* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: black;
  text-align: center;
  padding: 40px;
  height: 65px;
}
#header-title {
  font-size: 62px;
  color: white;
}
main {
  max-width: 1400px;
  margin: 0 auto;
}

#about,
#projects {
  padding: 15px;
}

#social-links {
  padding-top: 30px;
}

#social-links > a {
  text-decoration: none;
  color: black;
  padding: 3px;
  transition: all 0.2s;
}

#social-links > a:hover {
  color: red;
}

#projects > ul {
  padding: 15px;
  list-style-type: none;
}

#projects > ul > li {
  padding: 5px;
}

.project-name {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s;
}

.project-name:hover {
  background-color: red;
}
.desc-block {
  margin-left: 25px;
  padding: 15px;
}

.desc-block > li > a {
  text-decoration: none;
}
.desc-block > li > a:hover {
  text-decoration: none;
  color: rgb(41, 41, 41);
}

.school-links {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  padding: 2px;
  transition: all 0.2s;
}

.school-links:hover {
  background-color: red;
}

@media (max-width: 700px) {
  #header-title {
    font-size: 32px;
    color: white;
  }
  .project-name {
    font-size: 15px;
  }
  p {
    line-height: 35px;
  }
}
