
* {
  font-family: 'Poppins', sans-serif;
}

body {
  color: #FAFAFAFA;
  animation-name: changeBG;
  animation-duration: .2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.my-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  color: #FAFAFAFA;
  transition:font-size 0.2s, opacity 0.2s, color 0.2s;
}

.social-link:hover {
  cursor:pointer;
  font-size:15px;
  color: #f93943;
}

/* Animations */
@keyframes changeBG {
  from {background-color:#000;}
  to {background-color: #12130f;}
}

@media only screen and (max-width:960px) {
}
