@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  box-sizing:border-box;
}
html {
  scroll-behavior:smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin:0;
  font-size:1rem;
  line-height:1.5;
  overflow-x:hidden;
}
.v-header {
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.container {
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
}
.video-wrap {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}
.video-wrap video {
  min-width:100%;
  min-height:100%;
}
.header-overlay {
  height:100vh;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  background:orangered;
  z-index:1;
  opacity:65%;
}
.header-content {
  z-index:2;
  padding:30px;
  color:white;
}
.header-content h1 {
  font-size:70pt;
  margin-bottom:0;
}
.header-content p {
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
  margin-left: 20px;
}
.social-link {
  margin:10px;
  color: white;
  transition: font-size 0.2s, opacity 0.2s;
}
.social-link:hover {
  cursor:pointer;
  font-size:15px;
  opacity:75%;
}
.section {
  padding: 10px 0;
}
.section-links {
  color: orangered;
  transition: opacity 0.2s;
}
.section-links:hover {
  cursor:pointer;
  opacity:75%;
}
.projects-list > li {
  list-style: none;
  margin-bottom: 30px;
}
.project-sublist {
  list-style: square;
}
.arrows {
  color:white;
  transition: all 0.2s;
}
.arrows i {
  margin-top:50px;
  margin-left:120px;
}
.arrows:hover{
  cursor:pointer;
  opacity:75%;
}
@media only screen and (max-width:960px) {
  .header-content h1 {
    font-size: 35pt;
  }
  .container {
    padding-left:3rem;
    padding-right:3rem;
  }
  .social-link {
    margin:0.5em;
  }
}
