/* STYLE FOR ABOUT */
* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

#about {
  color: black;
}

body {
  background-color:#ff0033;
  color: white;
}
#my-name {
  font-size: 3vw;
}

#main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

nav {
  position: absolute;
  top: 15px;
  left: 10px;
}

#profile-pic {
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
}